@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --color-neutral-light: #f0f6f0;
    --color-neutral-dark: #222323;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-neutral-dark);
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--color-neutral-light);
}

header {
    border: 2px, solid, var(--color-neutral-light);
    background-color: var(--color-neutral-dark);
    z-index: 1;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

#navigation-sidebar {
    border: 2px, solid, var(--color-neutral-light);
    height: 100%;
    width: 10rem;
    position: fixed;
    overflow-x: hidden;
    padding-inline: 1rem;
    padding-block: 2rem;
    top: 0;
}

main {
    margin-left: 20rem;
    margin-right: 5rem;
    margin-top: 5rem;
}

aside {
    position: fixed;
    right: 0;
    top: 0;
    align-content: center;
    height: 100%;
}

.asciiCover {
    animation: colorRotate 6s linear 0s infinite;
}

@keyframes colorRotate {
    from {
    color: #6666ff;
    }
    10% {
    color: #0099ff;
    }
    50% {
    color: #00ff00;
    }
    75% {
    color: #ff3399;
    }
    100% {
    color: #6666ff;
    }
}